body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	background: #fff;
	color: rgba(0,0,0, 0.7);
	font-size: 1.1em;
	line-height: 1.4em;
	max-width: 38em;
	margin: auto; 
	padding: 0 4%;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	color: rgba(0,0,0, 0.78);
}

#home h1 {
    background: url(h1-logo.svg) no-repeat;
	background-size: 300px 87px;
	width: auto;
    height: 87px;
    text-indent: -9999px;
    display: block;
    overflow: hidden;
}

h3.url {
	font-size: 1em;
	font-weight: 200;
}

img {
	max-width: 100%;
	display: block;
	margin: .75em auto;
}

/* Old blue	links
	rgba(212, 61, 53, 0.2);
rgba(207, 40, 47, 0.4); */

a {
	padding: 0 1px;
    border-bottom: 2px solid rgba(207, 40, 47, 0.2);
    box-shadow: inset 0 -5px 0 rgba(207, 40, 47, 0.2);
    color: inherit;
    transition: all 0.2s cubic-bezier(0.33, 0.66, 0.66, 1) 0s;
    text-decoration: none;
}

a:hover {
    background: rgba(207, 40, 47, 0.1);
    border-bottom: 1px solid rgba(207, 40, 47, 0.8);
    box-shadow: inset 0 -1px 0 rgba(207, 40, 47, 0.8);
}

a:focus {
	outline:thin dotted rgba(207, 40, 47, 0.4)
}

nav span {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1em;
	line-height: 1.6em;
}

nav span a {
	padding: 3px 6px;
}

/*********************************************
**********************************************
************** @MEDIA QUERIES ****************
**********************************************
**********************************************/

/* @media queries for:
- medium mobile screens */


@media (max-width: 480px) {
 body {
 	font-size: 1.10em;
	line-height: 1.4em;
	font-weight: 300;
	color: rgba(0,0,0, 0.8);
	padding: 0 3%;
 }

 nav span {
 	font-size: 0.8em;
 	line-height: 1.4em;
 }

 #home h1 {
	background-size: 250px 75px;
	height: 75px;


 h1 { font-size: 1.72em; }
 h2 { font-size: 1.42em; }
 h3 { font-size: 1.18em; }
 h4 { font-size: 1.02em; }
}

/* @media queries for:
- small mobile screens */

@media (max-width: 360px) {
 body {
 	font-size: 1.0em;
	line-height: 1.20em;
	padding: 0 2%;
	}

 nav span {
 	font-size: 0.78em;
 	line-height: 1.4em;
 	}

 #home h1 {
	background-size: 200px 50px;
	height: 50px;
 }





.current {
    background: rgba(207, 40, 47, 1);
    color: #fff;
    padding: 3px 6px;
    box-shadow: inset 0 -2px 0 rgba(207, 40, 47, 0.2);
}

.strike {
	text-decoration: line-through;
}
nav a:hover {
	color: rgba(207, 40, 47, 1);
    background: rgba(207, 40, 47, 0.1);
}

small a {
	color: rgba(0,0,0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
}

small a:hover {
	color: rgba(24, 42, 42, 1);
    background: rgba(42, 42, 42, 0.1);	
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.8);

}