<<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="author" content="@hishnband">
	{% if page.meta %}
	 <meta name="description" content="{{ page.meta }}" />
 	{% else %}
 	<meta name="description" content="{{ site.description}}" />
 	{% endif %}
	<meta property="og:url" content="http://hishnband.si">
	<meta property="og:title" content="Hish N' Band - (maderfakin' hitra) domača stran">
	<meta property="og:description" content="Bend prej znan kot #wwwhbend. Po novem poje in strune trga @davorinpavlica, basira @loudk, po bobnih pa udriha @loudandwicked. Po vseh teh letih smo še vedno ful špon.">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Hish N' Band - (maderfakin' hitra) domača stran">
	<meta name="twitter:description" content="Bend prej znan kot #wwwhbend. Po novem poje in strune trga @davorinpavlica, basira @loudk, po bobnih pa udriha @loudandwicked. Po vseh teh letih smo še vedno ful špon.">
	<meta name="twitter:creator" content="@hishnband">
  <title>
	  {% if page.title == "Home" %}
	    {{ site.title }} - {{ site.tagline }}
	  {% else %}
	    {{ site.title }} - {{ page.title }}
	  {% endif %}
  </title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>

<body>

<h1>Hish N' Band</h1>

<h2>Bend prej znan kot <a href=http://wwwhbend.tumblr.com/>#wwwhbend</a></h2>
