<head>
  {% include meta.html %}
  <title>{% if page.title == "Home" %}{{ site.title }} - {{ site.tagline }}{% else %}{{ site.title }} - {{ page.title }}{% endif %}</title>
  <!-- Google PT Serif font-->
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>

<body>

<h1>Hish N' Band</h1>

<nav role="navigation">
  <p>
  {% assign thisUrl = page.url | remove: 'index.html' %}
  {% for item in site.data.nav offset:navOffset %}
    {% if item.url == thisUrl %}
      <span class="current">{{ item.text }}</span> | 
    {% else %}
      <span><a href="{{ item.url }}">{{ item.text }}</a></span> |
    {% endif %}
  {% endfor %}
  </p>
</nav>

<hr />

<h2>Alter pop power trio</h2>
