<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="author" content="@hishnband">
	<meta name="description" content="Bend prej znan kot #wwwhbend. Po novem poje in strune trga @davorinpavlica, basira @loudk, po bobnih pa udriha @loudandwicked. Po vseh teh letih smo še vedno ful špon.">
	<meta property="og:url" content="http://hishnband.si">
	<meta property="og:title" content="Hish N' Band - (maderfakin' hitra) domača stran">
	<meta property="og:description" content="Bend prej znan kot #wwwhbend. Po novem poje in strune trga @davorinpavlica, basira @loudk, po bobnih pa udriha @loudandwicked. Po vseh teh letih smo še vedno ful špon.">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Hish N' Band - (maderfakin' hitra) domača stran">
	<meta name="twitter:description" content="Bend prej znan kot #wwwhbend. Po novem poje in strune trga @davorinpavlica, basira @loudk, po bobnih pa udriha @loudandwicked. Po vseh teh letih smo še vedno ful špon.">
	<meta name="twitter:creator" content="@hishnband">
  <title>
	  {% if page.title == "Home" %}
	    {{ site.title }} - {{ site.tagline }}
	  {% else %}
	    {{ site.title }} - {{ page.title }}
	  {% endif %}
  </title>
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
</head>

<body>

<a href="{{ site.baseurl }}">
<h1>Hish N' Band</h1>
<small>☚ pejt nazaj na prvo stran ...</small>
</a>

<hr />